<launch>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <include file="$(find skiros2)/launch/world_model_server.launch">
      <arg name="init_scene" value=""/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="reasoners_pkgs" value="[skiros2_std_reasoners]"/>
      <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
